App_WebReferences/wsimage/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="saveimages">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="f" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="filepath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fldpath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="saveimagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="saveimagesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getimages">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="filepath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getimagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getimagesResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getimagespath">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="filepath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getimagespathResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getimagespathResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="saveimagesSoapIn">
    <wsdl:part name="parameters" element="tns:saveimages" />
  </wsdl:message>
  <wsdl:message name="saveimagesSoapOut">
    <wsdl:part name="parameters" element="tns:saveimagesResponse" />
  </wsdl:message>
  <wsdl:message name="getimagesSoapIn">
    <wsdl:part name="parameters" element="tns:getimages" />
  </wsdl:message>
  <wsdl:message name="getimagesSoapOut">
    <wsdl:part name="parameters" element="tns:getimagesResponse" />
  </wsdl:message>
  <wsdl:message name="getimagespathSoapIn">
    <wsdl:part name="parameters" element="tns:getimagespath" />
  </wsdl:message>
  <wsdl:message name="getimagespathSoapOut">
    <wsdl:part name="parameters" element="tns:getimagespathResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="saveimages">
      <wsdl:input message="tns:saveimagesSoapIn" />
      <wsdl:output message="tns:saveimagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getimages">
      <wsdl:input message="tns:getimagesSoapIn" />
      <wsdl:output message="tns:getimagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getimagespath">
      <wsdl:input message="tns:getimagespathSoapIn" />
      <wsdl:output message="tns:getimagespathSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="saveimages">
      <soap:operation soapAction="http://tempuri.org/saveimages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getimages">
      <soap:operation soapAction="http://tempuri.org/getimages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getimagespath">
      <soap:operation soapAction="http://tempuri.org/getimagespath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="saveimages">
      <soap12:operation soapAction="http://tempuri.org/saveimages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getimages">
      <soap12:operation soapAction="http://tempuri.org/getimages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getimagespath">
      <soap12:operation soapAction="http://tempuri.org/getimagespath" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost/wsKMBR/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost/wsKMBR/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>